img{
    width: 100%;
}
 
.container{
    padding-top: 6em;
}
.navi:focus{
    outline: none;
    border: 0;
}

.navi{
    cursor: pointer; 
}

.card-img-top-250 {
    max-height: 350px;
    overflow:hidden;
}

.part{
    border-color: black;
}

.text-data{
    margin-top: 10px;
 }

.messageStyle{
    -webkit-box-orient: vertical;
    color: black;
    font-size: 1em;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
   line-height: 32px;
   -webkit-line-clamp: 4; 
}

.align-center{
    text-decoration: none;
    font-size: 1.4em;
    position: absolute;
    bottom: 0;
}

.aimage{
    height: 300px;
    z-index: 1;
}

.bimage{
    z-index: 2;
    position: absolute;
    height: 250px;
    width: 100%;
    max-width: 250px;
}

