<footer id="footer">
  <div class="inner">
    <h2>Get In Touch</h2>
    <ul class="actions">
      <li> <a href="mailto:hello@indianhostfamily.com?Subject=QueryFromWebsite"><span class="fa fa-envelope"></span> &nbsp; <label>hello@indianhostfamily.com</label></a> </li>
      <!--<li><span class="icon fa-envelope"></span> <a href="#">selva.balaji@outlook.com</a></li> -->
    </ul> 
    <div> 

    </div>
  </div>
  <div class="copyright"> &nbsp;
    &copy;Made in Ireland with love by Selva.
  </div> 
</footer>