<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Forgot password ?</h1>
            <p>We'll mail you a reset password link</p>
        </header>
        <!--Email-->
        <mat-form-field>
            <input matInput placeholder="Enter your email" [(ngModel)]="email" required>
        </mat-form-field>
        <br>

       <!-- <button  class="button special" mat-raised-button color="primary" (click)="resetPassword()" type="submit">Reset Password</button> &nbsp; -->
       <button class="button special" mat-raised-button  (click)="resetPassword()" type="submit">Reset Password</button> &nbsp;
       <button class="button" mat-raised-button color="warn" routerLink="/home" type="submit">Cancel</button>
        <br>
        <br>
    </div>
</section>

<footer id="footer">
    <div class="inner">
      <h2>Get In Touch</h2>
      <div>
            <a href="mailto:hello@indianhostfamily.com?Subject=QueryFromWebsite"><span class="fa fa-envelope"></span> &nbsp; <label>hello@indianhostfamily.com</label></a> 
        </div>  
      <div>
  
      </div>
    </div>
    <div class="copyright"> &nbsp;
      &copy;Created by VRinTraining, Ireland.
    </div> 
  </footer>