.main{
    height: 100%;
    padding-top: 6em;
}
 
.bgcolor{
    background-color: red;
}

.hostName{
    width: 100%;
}

.hostName h1, .hostName h2, .hostName h3, .hostName h4, .hostName h5, .hostName h6{
    background: #f6755e;
    color: #ffffff;
    padding: 1em 0.5em 0.5em 0.7em;
}
@media screen and (min-width: 980px) {
    .imageStyle {
        text-decoration: none;
        margin-left: 1em;
    }
}
.hostName a{
    text-decoration: none;
}

.newImage{
    max-width: 100%; 
    height: auto;
}

agm-map{
    height: 400px;;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
  }

  .example-stretched-tabs {
    max-width: 800px;
  }

  .tabStyle{
      padding: 10px
  }

.padd{
    padding-top: 20px;
}

#footer{
    padding-top: 2em;
}

a{
    text-decoration: none;
}

/* Footer */
	
#footer {
    padding: 6em 0 4em 0;
    background: #25a2c3;
    text-align: center;
    color: #c8e7f0;
    width: 100%;
    bottom: 0;
}

    #footer h2 {
        color: #fff;
    }

    #footer .icon {
        color: #f6755e;
    }

    #footer a {
        color: #c8e7f0;
        text-decoration: none;
    }

    #footer ul li {
        padding: 0 2em;
    }

    #footer .copyright {
        display: inline-block;
        color: #a7d9e7;
        font-size: 0.75em;
        margin: 0 0 0.5em 0;
        padding: 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding: 2em 10em;
    }

    @media screen and (max-width: 980px) {

        #footer {
            padding: 3em 0 1em 0;
        }

            #footer ul li {
                display: block;
                padding: .25em 0;
            }

    }
 
    @media screen and (max-width: 736px) {

        #footer .copyright {
            padding: 2em 5em;
        }

    }

    @media screen and (max-width: 480px) {

        #footer {
            padding: 2em 0 0.1em 0;
        }

            #footer ul li {
                font-size: .9em;
            }

                #footer ul li .icon:before {
                    margin-left: -1em;
                }

            #footer .copyright {
                padding: 2em 0;
            }

    }
    